@tailwind base;

@tailwind components;

@tailwind utilities;

.spinner{
    position: absolute;
}

/* 
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */